@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root{

    --background: #98b6ff;
    --primary: #031955;
    --secondary: #344ea2;
    --secondary-dim: #455a99;
    --secondary-dim-light: #a5bafa;
    --accent-1: #f041ff;
    --accent-2: #3280ed;
    --accent-3: #32edbe;
    --accent-4: #2c7ae7;
    --accent-5: #3280ed;

    --button-add: #2dcaa3;
    --button-add-hover: rgb(114, 228, 199);
    --button-danger: #ed325a;
    --button-danger-hover: rgb(235, 95, 125);

    --white: #f5f5f5;
    --white-hover: #a5a5a5;
    --white-dim: #dfdfdf;

    --font-color-primary:#f5f5f5;
    --font-color-secondary:#202020;
    --fontsize-s: 1rem;
    --fontsize-m: 1.2rem;
    --fontsize-l: 1.6rem;
    --fontsize-xl: 2.4rem;

    --message-success:rgba(50, 237, 190, 0.95);
    --message-error:rgba(237, 50, 90, 0.95);

}

/* Clase */
/* ======================== */
.f-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ======================== */

h3{
    color: var(--white-dim);
    font-weight: 400;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background-color: var(--background);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.container{
    position: relative;
}

/* Start Kartica sa opcijama */
.cart-options {
    background-color: var(--primary);
    width: 30rem;
    height: 62rem;
    padding: 3.6rem;
    border-radius: 4rem;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: -15px 10px 30px rgba(0, 0, 0, .3);
    /* box-shadow: -10px 10px 20px rgba(0, 0, 0, .3); */
}

.back-icon ion-icon{
    border-radius: 50%;
    border: 1px solid var(--secondary-dim);
    font-size: 1.4rem;
    padding: 1rem;
    --ionicon-stroke-width: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.back-icon ion-icon:hover{
    color: var(--secondary-dim);
    transition: color .2s linear;
}

.user-image{
    width:  7rem;
    height: 7rem;
    position: relative;
}

.ring-pink{
    border-radius: 50%;
    border: 2px solid var(--accent-1);
    box-shadow: 0px 0px 3px 1px rgba(239, 65, 255, 0.6);
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;

}

.ring-gray{
    border-radius: 50%;
    border: 2px solid var(--secondary-dim);
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
}

.user-image img{
    width:  5.8rem;
    height: 5.8rem;
    border-radius: 50%;
}

.content{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.content ion-icon{
    font-size: 1.6rem;
    color: var(--secondary-dim);
    --ionicon-stroke-width: 5rem;
}

.user-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 11rem;
    width: 100%;
}

.user-info h1{
    font-weight: 600;
    font-size: var(--fontsize-xl);
}

.option-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3.6rem;
    width: 100%;
}

.option-container h3{
    margin-left: 1.8rem;
    cursor: pointer;
    font-size: var(--fontsize-m);
    font-weight: 400;
}

.option-container h3:hover{
    color: var(--secondary-dim);
    transition: all 0.1s linear;
}

.graphic-info h3{
    color: var(--white);
    font-weight: 600;
}

.graphic-info h4{
    color: var(--secondary-dim);
    font-weight: 600;
    font-size: var(--fontsize-s);
}

.analitics{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 0 2rem 0;
    width: 100%;
    height: 20rem;
}
/* Kraj Kartica sa opcijama */


/* ======================================================================= */
/* Pocetak desna kartica koja sluzi da sakrije gornju karticu kada je
   ona pomerena u desno, kako bi se dobio vizuelni efekat */
.cart-middle {
    background-color: var(--background);
    /* opacity: 0; */
    width: 30rem;
    height: 62rem;
    padding: 2rem;
    /* border-radius: 3.6rem; */
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 0rem;
    left: 30rem;  
    z-index: 20;
}
/* Kraj desna kartica
/* ======================================================================= */


/* Start Kartica sa ToDo listom */
.cart-list {
    background-color: var(--secondary);
    width: 30rem;
    height: 62rem;
    padding: 2rem;
    border-radius: 4rem;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;     
    z-index: 13;
    /* transform: scale(.86) translateX(25.2rem); */
}

.todo-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.todo-menu ion-icon{
    font-size: 1.8rem;
    color: var(--secondary-dim-light);
    cursor: pointer;
}

.todo-menu ion-icon:hover{
    color: var(--white);
    transition: color .1s linear;
}

.todo-menu .menu-left ion-icon{
    font-size: 2.8rem;
}

.todo-menu .menu-right ion-icon{
    margin-left: 1.4rem;
    --ionicon-stroke-width: 4rem;
}

/* Start Theme Container */
.theme-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 7rem;
    right: 10rem;
    background-color: var(--primary);
    border-radius: 1.2rem;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    font-size: 1.4rem;
    display: none;
}

/* Active class for toggle event */
.active-theme{
    display: flex;
}

.theme-selector{
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.theme-selector:hover,
.theme-selector h3:hover{
    color: var(--white-hover);
}

.theme-selector:last-child{
    padding: 0;
}

.theme-selector h3{
    color: var(--white);
    font-size: 1.2rem;
    margin-left: 1.2rem;
}


/* End Theme Container */

.todo-user{
    width: 100%;
}

.todo-user h1{
    font-weight: 600;
    font-size: var(--fontsize-xl);
}

label{
    text-transform: uppercase;
    color: var(--secondary-dim-light);
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.todo-categories{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 2.6rem;
    margin-bottom: 2.6rem;
}

.todo-containers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.categories-card label{
    text-transform: capitalize;
    color: var(--secondary-dim-light);
    letter-spacing: 0px;
}

.todo-containers .categories-card{
    width: 48%;
    height: 7.4rem;
    border-radius: 1.5rem;
    padding: 1rem;
    background-color: var(--primary);
    box-shadow: 3px 3px 12px rgba(0, 0, 0, .5);
    position: relative;
}

.progress-bars{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1rem;
}

.line-gray{
    border: 1px solid var(--background);
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
}

.line-progress-pink{
    border: 1px solid var(--accent-1);
    box-shadow: 2px 0px 5px 1px rgba(239, 65, 255, 0.5);
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 55%;
}

.line-progress-blue{
    border: 1px solid var(--accent-5);
    box-shadow: 2px 0px 5px 1px rgba(50, 128, 237, 0.5);
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 64%;
}

/* Single task section */
.todo-list{
    /* width: 100%; */
    max-height: 26rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    margin-top: 2rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.todo-list::-webkit-scrollbar {
    display: none;
  }

.todo-list label{
    margin-bottom: 2rem;
}

.todo-single-task{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: .6rem;
    width: 100%;
    height: 4.8rem;
    padding: 1.2rem;
    background-color: var(--primary);
    /* box-shadow: 2px 2px 12px rgba(0, 0, 0, .5); */
    border-radius: 1.5rem;
}

.task-icon{
    margin: 0 1.5rem 0 .5rem;
}

.task-icon .task-todo{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid var(--accent-1);
    box-shadow: 0px 0px 1px 1px rgba(239, 65, 255, 0.5);
}

.task-icon .task-done{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid var(--accent-3);
    box-shadow: 0px 0px 1px 1px rgba(50, 237, 190, 0.5);
    --ionicon-stroke-width: 5rem;
}

.task-icon .task-done ion-icon{
    font-size: 1.2rem;
}

.task-text h3{
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
}

.task-text h3:hover{
    color: var(--white-hover);
}

.deleteTask{
    font-size: 1.6rem;
    color: var(--secondary-dim-light);
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.deleteTask:hover{
    color: var(--button-danger-hover);
    transition: color .1s linear;
}
/* End Kartica sa ToDo listom */


/* Start of Add Button */
.addBtn{
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--accent-1);
    box-shadow: 0px 0px 8px 3px rgba(239, 65, 255, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2rem;
    right: 4.8rem;
    cursor: pointer;
}

.addBtn:hover{
    transform: scale(1.05);
    transition: .2s linear;
}

.addBtn ion-icon{
    font-size: 2rem;
}
/* End of Add Button */

/* Start of Task form */
.task-form-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 14;
    border-radius: 4rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.85);
    transform: translateX(30rem);
    transition: transform .4s ease-out;
}

.task-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30rem;
    background-color: var(--secondary);
    transform: translateY(50%);
    border-radius: 2rem;
    padding: 2rem;
    position: relative;
}

.task-content label{
    width: 100%;
    margin-top: 2rem;
}

.task-content ion-icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2.4rem;
    color: var(--secondary-dim-light);
    cursor: pointer;
}

.task-content ion-icon:hover{
    color: var(--white);
    transition: color .2s linear;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input,
textarea,
select{
    width: 100%;
    padding: .6rem;
    font-size: 1.4rem;
    border: none;
    border-radius: .3rem;
    margin-bottom: 1.2rem;
    /* color: var(--font-color-secondary); */
    background-color: var(--white);
}

textarea{
    resize: none;
  
}

input,
textarea,
select:focus{
    outline: none;
}

input,
textarea,
select::placeholder{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.task-buttons{
    width: 100%;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.task-buttons button{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: .4rem;
    color: var(--white);
    cursor: pointer;
    transition: all .2s linear;
}


.task-buttons button:focus{
    outline: none !important;
}

.task-buttons button:active{
    scale: .9;
}

.addTask{
    background-color: var(--button-add);
}

.addTask:hover{
    background-color: var(--button-add-hover);
}

.resetTask{
    background-color: var(--button-reset);
}

.resetTask:hover{
    background-color: var(--button-reset-hover);
}
/* End of Task form */


/* Start Popup Div za Odgovore */
.odgovor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22rem;
    height: 5rem;
    border-radius: 1.6rem;
    position: absolute;
    top: 3.2rem;
    right: -22rem;
    z-index: 18;
    transition: transform .3s ease-out;
}

.odgovor-greska{
    background-color: var(--message-error);
}

.odgovor-uspeh{
    background-color: var(--message-success);
}

.odgovor p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    color: var(--white);
    font-size: var(--fontsize-l);
    border-radius: 1.6rem;
}

/* .response{
    height: 5rem;
    width: 20rem;
    background-color: #2dcaa3;
} */
/* End Popup Div za Odgovore */